<webobject name = "wrapper">

	<div class="NoteList">
		<div class="noteListItem addNoteLink">
			<webobject name = "addNoteLink">Add New Note</webobject>
		</div>
		<webobject name = "noteRep">
		<div class="noteListItem">
			<webobject name = "noteLink">
			<webobject name = "noteContentPreview"/></webobject>
		</div>
		</webobject>
	</div>

<webobject name = "isEditing">
	<div class="NoteDetail">
		<webobject name = "editNoteForm">
			<div class="row">Subject: <webobject name = "noteSubject"/></div>
			<div class="row">Category: <webobject name = "noteCategory"/></div>
			<div class="row"><webobject name = "noteContent"/></div>
			<div class="nav">
				<webobject name = "cancelButton"/>
				<webobject name = "saveButton"/>
				<webobject name = "deleteButton"/>
			</div>
		</webobject>
	</div>
</webobject>
</webobject>
