{
    attributes = (
        {
            allowsNull = N; 
            columnName = attributeName; 
            name = attributeName; 
            prototypeName = varchar50; 
        }, 
        {
            allowsNull = N; 
            columnName = changesetID; 
            name = changesetID; 
            prototypeName = id; 
        }, 
        {allowsNull = N; columnName = entityID; name = entityID; prototypeName = id; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = Y; 
            columnName = valueType; 
            name = valueType; 
            prototypeName = charFlag; 
        }
    ); 
    attributesUsedForLocking = (attributeName, changesetID, entityID, id, valueType); 
    className = "er.sync.eo.ERSyncChangeToMany"; 
    classProperties = (attributeName, changeEntity, changeset, toManyEntities, valueType); 
    externalName = ERSyncChangeValue; 
    fetchSpecificationDictionary = {}; 
    name = ERSyncChangeToMany; 
    parent = ERSyncChangeValue; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = ERSyncEntity; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = entityID; }); 
            name = changeEntity; 
        }, 
        {
            destination = ERSyncChangeset; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = changesetID; }); 
            name = changeset; 
        }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = ERSyncMMChangeToManyEntity; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = eRSyncChangeToManyId; sourceAttribute = id; }); 
            name = eRSyncMMChangeToManyEntities; 
            propagatesPrimaryKey = Y; 
        }, 
        {
            definition = "eRSyncMMChangeToManyEntities.eRSyncEntity"; 
            name = toManyEntities; 
        }
    ); 
    restrictingQualifier = "valueType = \"M\""; 
}
