<WEBOBJECT NAME="LoginForm">
	<WEBOBJECT NAME="HasErrorMessage">
		<div id="ErrorMessage" class="validationError" style="text-align:left; margin-bottom:20px;"><WEBOBJECT NAME="ErrorMessage"/></div>
	</WEBOBJECT NAME="HasErrorMessage">
	
	<div class="Logo" style="background-image:url(/MobileNotesSync/images/login.png); ">
		<div class="logInPadding">
			<div class="logInText"><webobject name = "appName"/></div>
			<div class="logInText">User Name: <div align=right><WEBOBJECT NAME="UserNameField"/></div></div>
			<div class="logInText"> Password: <div align=right><WEBOBJECT NAME="PasswordField"/></div></div>
			<div class="logInSubmit"><WEBOBJECT NAME="LoginButton"/></div>
			<div class="signUpLink"><webobject name = "signUpLink">Sign Up</webobject></div>
		</div>
    </div>
	
</WEBOBJECT NAME="LoginForm">
